.custom-link {
  border-radius: 0.7rem;
  border: none;
  outline: none;
  transition: all .3s ease-out;
  cursor: pointer;
  .custom-button {
    transition: all 0.3s ease-out;
    border: none;
    border-radius: 0.7rem;
    outline: none;
    width: 24rem;
    height: 6rem;
    font-size: 1.7em;
    border: 4px solid rgb(239, 13, 51);
    &:hover {
      border:  4px solid transparent;
    }
  }
}
