.custom-link {
  width: 24rem;
  height: 6rem;
  margin-top: 2rem;
  border-radius: 0.7rem;
  overflow: hidden;
  border: none;
  outline: none;
  transition: all .3s ease-out;
  &:hover {
    border: 2px solid rgb(239, 13, 51);
  }
  cursor: pointer;
  .custom-button {
    transition: all 0.3s ease-out;
    border: none;
    outline: none;
    width: 24rem;
    height: 6rem;
    font-size: 1.3em;
    &:hover {
      transform: scale(1.1);
      border: 2px solid rgb(239, 13, 51);
    }
  }
}
