.componentContainer {
  width: 90%;
  justify-content: center;
  .componentContainer__title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Merriweather", serif;
    color: #fff;
    padding-top: 16rem;
  }
  .componentContainer__content {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20rem;

    .componentContainer__description {
      width: 60%;
      color: white;
    }
    .componentContainer__additional {
      width: 40%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        width: 17rem;
        height: 17rem;
        overflow: hidden;
        outline: none;
      }
      .icon {
        position: absolute;

        color: rgb(239, 13, 51);
        font-size: 12rem;
        transition: all 0.3s;

        &:hover {
          color: white;
          transform: scale(1.2);
        }
      }
      .MuiAvatar-root {
        width: 90% !important;
        height: 90% !important;
    }
    }
  }
}

@media (max-width: 600px) {
  .componentContainer {
    .componentContainer__title {
      text-align: center;
      padding-top: 0;
    }

    .componentContainer__content {
      display: block;
      text-align: center;
      margin-top: 6rem;
      h1 {
        width: 100%;
      }
      p {
        width: 100%;
        margin-bottom: 4rem;
      }
      .componentContainer__additional {
        width: 100%;
         margin-top: 9rem;
        .icon {
          position: relative;
         
        }
        .MuiAvatar-root {
          width: 50% !important;
          height: 50% !important;
      }
      }
    }

    .componentContainer__content .componentContainer__description {
      width: 100%;
      text-align: center;
      .description {
        display: block;
        padding-bottom: 4rem;
        text-align: -webkit-center;
      }
    }
  }

}
