
.description{
    display: flex;
    flex-direction: column;
    h1{
        width: 90%;
        font-family: 'Merriweather', serif;
        font-size: 6.5rem;
    }
    p{
        width: 60%;
    }
}