.fullProject {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 800px;

  .fullProject__info {
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 60%;
    .container {
      height: 100%;
      display: flex;
      .left {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding-left: 4rem;
        align-items: flex-start;
        justify-content: center;
        img {
          width: 30%;
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 6rem;
          max-width: 80%;
        }
        .line {
          width: 5rem;
          margin: 2rem 0;
        }
        p {
          font-size: 2rem;
          max-width: 70%;
          font-size: 2.2rem;
        }
        button {
          border: none;
          outline: none;
          padding: 1rem;
          border-radius: 5px;
        }
      }
      .right {
        width: 50%;
        padding: 3rem;
        .img__container {
          width: 100%;
          height: 100%;
          display: flex;

          img {
            width: 100%;
            align-self: center;
          }
        }
      }
    }
  }
  .fullProject__comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    text-align: center;
    background-color: rgb(149, 147, 147);
    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .avatar {
      width: 10rem;
      height: 10rem;
    }
    .client {
      max-width: 50%;
      margin-top: 4rem;
      .testimony {
        position: relative;
        font-size: 3rem;
        font-style: italic;
        &::before {
          position: absolute;
          top: -2rem;
          margin-left: -2rem;
          content: "\201C";
          font-size: 5rem;
        }
        &::after {
          position: absolute;
          bottom: -3.2rem;
          margin-left: 1rem;

          content: "\201D";
          font-size: 5rem;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .fullProject .fullProject__info .container .right {
    display: none;
  }
  .fullProject .fullProject__info .container .left {
    width: 100%;
    align-items: center;
    padding: 0;
    .line{display: none;}
    p {
      width: 100%;
      margin: 1rem 0;
      
    }
  }
  .fullProject .fullProject__comment .client {
    max-width: 100%;
    margin-top: 4rem;
  }
  .fullProject .fullProject__comment .client .testimony {
    width: 100%;
    padding: 1rem;
  }
  .fullProject .fullProject__info .container .left img {
    width: 50%;
  }
  .fullProject .fullProject__info .container .left button {
    padding: 2rem 4rem;
    font-size: 2rem;
    margin-top: 3rem;
  }
}
