.home__container{
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 6rem;
    width: 100%;
    height:calc(100vh - 6.4rem);
    background-color: rgba(0, 0, 0, 0.89);
}