.home__container{
 
    display: flex;
    justify-content: center;
    padding: 6rem 0;
    width: 100%;
    min-height:calc(100vh - 6.4rem);
    background-color: rgba(0, 0, 0, 0.787);
  
}

@media (max-width: 767px) {
    .home__container {
  
      background-color: rgba(0, 0, 0, 0.5);
    }
  }