.nav__container {
   position: sticky;
   top: 0rem;
  width: 100%;
  min-height: 6rem;
  justify-content: space-between;
   background-color: rgba(0, 0, 0, 0.89);
  transition: all 0.4s ease-in;
  z-index: 1000;
  .logo {
    padding: 0.5rem;
    width: 90px;
    display: flex;
    align-items: center;
  }
  img {
    width: 100%;
  }
  ul {
    list-style: none;
    li {
      a {
        transition: all 0.5s ease;
        padding: 0.3rem;
        border: 2px solid transparent;
        color: rgb(239, 13, 51);
        font-size: 2.3rem;
        &:hover {
          border: 2px solid rgb(239, 13, 51);
        }
        &:focus {
          border: 2px solid rgb(239, 13, 51);
        }
      }
    }
  }
  .burgerMenu {
    display: none;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
  }
}

.scrolled {
  background-color: rgb(14, 13, 13);
}
.main_nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 770px) {
  .nav__container nav ul {
    display: none;
  }
  
  .nav__container {
    
    .burgerMenu {
      display: block;

      .MuiSvgIcon-root {
        cursor: pointer;
        fill: rgb(239, 13, 51) !important;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 3.5rem;
        transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
        flex-shrink: 0;
        user-select: none;
      }
    }
    .menu__container{
      display: flex;
      justify-content: flex-end;
      width: 100vw;
      position: relative;
      .menuOpen{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgb(14, 13, 13);
        padding: 6rem 6rem;
        margin-top: 6rem;
      }
    }
  }
  
}
