.project_bg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 21rem;
    height: 16rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem;
    
    &:hover{
       transition: all .5s ease-out;
       transform: scale(1.05);
    }
}

.projects_container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

}
.project{
    
   width: 33.33%;
   overflow: hidden;
    border-radius: 1rem;
    margin: .5rem;

}
.project_hover{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}