.slider__container {
  padding: 2rem 0;
  width: 100%;
  height: fit-content;
  height: calc(100vh - 6.4rem);
  .componentContainer {
    width: 100%;
    justify-content: center;
    .componentContainer__title {
      padding-top: 1rem;
    }
    .componentContainer__content {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 5rem;
      .componentContainer__additional {
        width: 65%;
      }
      .componentContainer__description {
        display: none;
      }
    }
  }
}
.carousel-root {
  outline: none;
  width: 100%;
  margin: 0 auto;
  .carousel {
    /* position: relative; */
    .thumbs-wrapper {
      display: flex;
      justify-content: center;
      margin: 20px;
    }
  }
}
@media (max-width: 767px) {
  .slider__container
    .componentContainer
    .componentContainer__content
    .componentContainer__additional {
    width: 100%;
  }
  .legend {
    display: none;
  }
}
