.slider__container{
    padding: 9rem 0;
    width: 70%;
    height: fit-content;
    height:calc(100vh - 6.4rem);
}
.carousel-root {
    outline: none;
    width: 100%;
    margin: 0 auto;
    .carousel {
        /* position: relative; */
        .thumbs-wrapper {
            display: flex;
            justify-content: center;
            margin: 20px;
            overflow-x: scroll;
          
        }
    }
}
@media (max-width: 767px) {
    .slider__container{
        width: 100%;
    }
    .legend{
        display: none;
    }
  }
