.slider__container{
    margin: 3rem auto 1rem;
    width: 70%;
    height: 100vh;
}
.carousel-root {
    outline: none;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
    .carousel {
        /* position: relative; */
        .thumbs-wrapper {
            margin: 20px;
            overflow-x: scroll;
        }
    }
}