.componentContainer__video {
  position: absolute;
  z-index: -5;
  left: 0;
  bottom: 0;
}

/* query video header */
@media (min-aspect-ratio: 16/9) {
  .componentContainer__video {
    width: 100%;
    height: auto;
  }
  .description > h1,
  .description > p {
    width: 50%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .componentContainer__video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .home__container {
    // z-index: -9;
    background-image: url("../components//blur.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    &::before{
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 6; 
       filter: blur(5px);
    }
  }

  .componentContainer__video {
    display: none;
  }
}
