.componentContainer__video {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -5;
  
}

/* query video header */
@media (min-aspect-ratio: 16/9) {
  .componentContainer__video {
    width: 100%;
    height: auto;
  }
  .description > h1,
  .description > p {
    width: 50%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .componentContainer__video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .componentContainer__video {
    display: none;
  }
}
