@import "button";
@import "skills";
@import "projects";
@import "contact";
@import "componentsContainer";
@import "description";
@import "footer";
@import "home";
@import "navBar";
@import "projectContainer";
@import "skills";
@import "skillsContainer";
@import "video";


html {
  box-sizing: border-box;
  font-size: 42.5%;
  /** Reset para REMS  65,5% = 10px de 16px**/
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}
.sc {
  overflow-y: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales */

.container-l {
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
  height: 80%;
}

.container-large {
  width: 100vw;
  margin: 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

p {
  font-size: 1.6rem;
}

a:hover {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
.main_nav {
  ul {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: flex-end;
    li {
      list-style: none;
      margin: 1rem;
    }
  }
}
