@font-face {
  font-family: 'th';
  src: url('../fonts/th-gl.ttf');
}

@import "button";
@import "skills";
@import "Fullprojects";
@import "contact";
@import "componentsContainer";
@import "description";
@import "footer";
@import "home";
@import "navBar";
@import "slider";
@import "skills";
@import "video";
@import "about";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** Reset para REMS  65,5% = 10px de 16px**/
  scroll-behavior: smooth;
}

body {

  background: linear-gradient(65deg, #a8c1c5, #828d8f);
  font-family: "th", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  color: black;
}

.sc {
  overflow-y: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.6rem;
}

p {
  // letter-spacing: 1px;
  font-size: 2.6rem;
  
}

a:hover {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
.main_nav {
  ul {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: flex-end;
    li {
      list-style: none;
      margin: 1rem;
    }
  }
}
@media (max-width: 500px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    margin-right: auto;
    margin-left: auto;
  }
  .componentContainer {
    width: 100%;
}
}
